<div class="topbar" id="titlebar">
    <div class="left">
      <div class="title">Polaris</div>
      <button class="nav-btn" (click)="runCommand('explorer')">Explorer</button>
      <button class="nav-btn" (click)="runCommand('search')">Search</button>
      <button class="nav-btn" (click)="runCommand('git')">Source Control</button>
    </div>
  
    <div class="right">
      <button class="nav-btn" (click)="runCommand('run')">▶ Run</button>
      <button class="nav-btn" (click)="runCommand('settings')">⚙ Settings</button>
    </div>
  </div>
  